@import 'tailwindcss';

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* 自定義滾動條隱藏工具類別 */
.scrollbar-none {
  scrollbar-width: none;
}

.scrollbar-none::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}