@import "tailwindcss";

@import "tw-animate-css";

:root {
  color-scheme: dark;
  --bg: #212121;
  --accent-bg: #2b2b2b;
  --text: #dcdcdc;
  --text-light: #ababab;
  --accent: #ffb300;
  --accent-hover: #ffe099;
  --accent-text: var(--bg);
  --code: #f06292;
  --preformatted: #ccc;
  --disabled: #111;
}

body {
  overflow: hidden;
  font-family: iansui;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMTQ1IDc5LjE2MzQ5OSwgMjAxOC8wOC8xMy0xNjo0MDoyMiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTkgKFdpbmRvd3MpIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjI3MjhCMEZFOTk5NjExRTk4MzY2QUE1M0JBNUNFMjU4IiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjI3MjhCMEZGOTk5NjExRTk4MzY2QUE1M0JBNUNFMjU4Ij4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6MjcyOEIwRkM5OTk2MTFFOTgzNjZBQTUzQkE1Q0UyNTgiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6MjcyOEIwRkQ5OTk2MTFFOTgzNjZBQTUzQkE1Q0UyNTgiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4Qfm/SAAAARUlEQVR42mL8//8/w0AAJoYBAqMWj1o8avGoxaMWD2+L5YFYjVzNLBRYzAnEXORqZhytj0ctHrV41OJRi0ctHnQWAwQYAFfNBo/hry0xAAAAAElFTkSuQmCC") repeat rgb(17, 17, 17);
}

.uoqmunthenkhung {
  font-family: "UoqMunThenKhung", serif;
  font-weight: 400;
  font-style: normal;
}

.iansui {
  font-family: "Iansui", cursive;
  font-weight: 400;
  font-style: normal;
}